[Desktop Entry]
Name=Agent Build System 
StartupABSClass=Abs
Comment=ABS Launcher
GenericName=ABS UI
Exec=/home/kali/Desktop/practicum/dist/main/main
Icon=/home/kali/Desktop/practicum/UI/A.png
Type=Application
Categories=System;GUIDesigner;
MimeType=image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;application/x-python-code;text/x-python;application/json;image/png;
Keywords=ABS;Agent;BuildSystem;
